[build]
  command = "pnpm build"
  publish = "dist"

[dev]
  command = "pnpm dev"
  port = 3000

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  command = "pnpm build"
  publish = "dist"
